.home-body {
  height: auto;
  background-color: white;
}

.body-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
  filter: brightness(0.8);
}

.body-sum {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40%;
  font-family: sans-serif;
  color: black;
}

.global-container {
  max-width: 1920px;
  margin: 0 auto;
}