.carousel-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  font-family: fantasy;
  color: rgb(0, 0, 0);
  background-color: rgb(10, 60, 149);
  text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.carousel-div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-title {
  font-size: 30px;
  padding: 20px;
}
